Repository isectec/isectech-security, changes with the owners that .github/CODEOWNERS names for each.
All owners: @isectech/core-team, @isectech/security-team, @isectech/lead-security-engineer, @isectech/threat-intel-team, @isectech/vuln-management-team, @isectech/devops-team, @isectech/platform-team, @isectech/backend-team, @isectech/go-team, @isectech/api-team, @isectech/event-processing-team, @isectech/frontend-team, @isectech/ui-ux-team, @isectech/qa-team, @isectech/ai-team, @isectech/ml-team, @isectech/data-science-team, @isectech/performance-team, @isectech/tech-writers, @isectech/dba-team, @isectech/data-team, @isectech/sre-team, @isectech/mobile-team, @isectech/ios-team, @isectech/android-team, @isectech/legal-team, @isectech/privacy-team

Add Dockerfile for Cloud Run deployment - production ready
  Dockerfile
Owners: @isectech/devops-team, @isectech/security-team

Fix: Correct nginx configuration for Cloud Run port 8080
  Dockerfile
Owners: @isectech/devops-team, @isectech/security-team

Fix: Use Python server instead of nginx for guaranteed Cloud Run compatibility
  Dockerfile
Owners: @isectech/devops-team, @isectech/security-team

CRITICAL FIX: Use Google's official Cloud Run hello image - guaranteed to work
  .deployment-state.json
  .gcloudignore
  DEPLOYMENT-GUIDE.md
  DEPLOYMENT-SUCCESS-REPORT.md
  Dockerfile
  Dockerfile.simple
  app.yaml
  app/lib/mobile/performance.ts
  cloudbuild.yaml
  deploy-local-simulation.sh
  deploy-production.sh
  infrastructure/scripts/deploy-platform.sh
  package.json
Owners: @isectech/core-team, @isectech/devops-team, @isectech/security-team, @isectech/frontend-team, @isectech/ui-ux-team, @isectech/platform-team

Deploy production iSECTECH application to Cloud Run
  Dockerfile
Owners: @isectech/devops-team, @isectech/security-team

Fix: Use npm ci for all dependencies in build stage
  Dockerfile
Owners: @isectech/devops-team, @isectech/security-team

Simplify Dockerfile with legacy-peer-deps for compatibility
  Dockerfile
Owners: @isectech/devops-team, @isectech/security-team

Trigger rebuild after repository cleanup
  Dockerfile
Owners: @isectech/devops-team, @isectech/security-team

Fix Dockerfile formatting
  Dockerfile
Owners: @isectech/devops-team, @isectech/security-team

Fix: Remove non-existent pact-js-cli package
  package.json
Owners: @isectech/frontend-team, @isectech/core-team

Fix: Update react-spring to compatible version 9.7.3
  package.json
Owners: @isectech/frontend-team, @isectech/core-team

Fix: Remove non-existent redocly package
  package.json
Owners: @isectech/frontend-team, @isectech/core-team

Add missing audit-logging middleware
  app/lib/middleware/audit-logging.ts
Owners: @isectech/frontend-team, @isectech/ui-ux-team

Fix: Downgrade React to v18 for MUI compatibility and add legacy-peer-deps
  cloudbuild.yaml
  package.json
Owners: @isectech/core-team, @isectech/frontend-team

Fix: Use npm install instead of ci to handle lock file issues
  cloudbuild.yaml
Owners: @isectech/core-team

fix: Update Cloud Build to handle npm dependency conflicts
  .npmrc
  Dockerfile.frontend.production
  cloudbuild.yaml
  infrastructure/ci-cd/cloudbuild-main.yaml
  package-lock.json
  package.json
Owners: @isectech/core-team, @isectech/devops-team, @isectech/security-team, @isectech/platform-team, @isectech/frontend-team

optimize: Enhanced Cloud Build configuration for reliable deployment
  cloudbuild.yaml
Owners: @isectech/core-team

fix: Resolve critical npm "Invalid Version" error blocking Cloud Build
  Dockerfile.frontend.production
  cloudbuild.yaml
Owners: @isectech/devops-team, @isectech/security-team, @isectech/core-team

fix: Resolve 'Invalid Version:' npm CI error in Cloud Build
  cloudbuild.yaml
  package-lock.json
  package.json
Owners: @isectech/core-team, @isectech/frontend-team, @isectech/security-team

fix(build): Next.js 15 config keys, resolve duplicate const error, and add missing util modules
  app/api/compliance/assessments/route.ts
  app/lib/utils/input-sanitization.ts
  app/lib/utils/logger.ts
  next.config.ts
Owners: @isectech/frontend-team, @isectech/ui-ux-team, @isectech/core-team

fix: Resolve Next.js build compilation errors
  app/lib/middleware/auth.ts
  app/lib/middleware/rate-limiting.ts
  app/lib/middleware/tenant-validation.ts
  app/lib/monitoring/metrics.ts
Owners: @isectech/frontend-team, @isectech/ui-ux-team

trigger: Cloud Build deployment test
  .buildtrigger
Owners: @isectech/core-team

fix: Add missing prom-client dependency for metrics
  package.json
Owners: @isectech/frontend-team, @isectech/core-team

fix: Use npm install instead of npm ci for Cloud Build to handle lock file sync
  cloudbuild.yaml
Owners: @isectech/core-team

fix: Move DNS operations to server-side API to resolve Next.js build error
  app/api/dns-query/route.ts
  app/lib/white-labeling/domain-manager.ts
  package-lock.json
Owners: @isectech/frontend-team, @isectech/ui-ux-team, @isectech/security-team

fix: Resolve Google Cloud Build failures for iSECTECH frontend deployment
  DEPLOYMENT_FIX_GUIDE.md
  Dockerfile.frontend.production.buildkit
  cloudbuild.buildkit.yaml
  scripts/test-dockerfile.sh
Owners: @isectech/core-team, @isectech/devops-team, @isectech/security-team

CRITICAL FIX: Resolve TypeScript compilation errors blocking deployment
  .dockerignore
  Dockerfile
  api-gateway/analytics/rate-limiting-analytics-dashboard.ts
  api-gateway/circuit-breaker/circuit-breaker-integration.ts
  api-gateway/circuit-breaker/deployment-example.ts
  app/api/trust-score/websocket/route.ts
  app/lib/monitoring/metrics.ts
  package-lock.json
  package.json
Owners: @isectech/devops-team, @isectech/security-team, @isectech/core-team, @isectech/frontend-team, @isectech/ui-ux-team

ci(build): fix Cloud Build config and Docker runtime
  .dockerignore
  Dockerfile.frontend.production
  cloudbuild.buildkit.yaml
  cloudbuild.yaml
  next.config.production.ts
  next.config.ts
  scripts/docker-build.sh
Owners: @isectech/devops-team, @isectech/security-team, @isectech/core-team

.github/CODEOWNERS:

# iSECTECH Cybersecurity Platform - Code Ownership Configuration
# This file defines code ownership for automated review assignment and branch protection

# =============================================================================
# GLOBAL OWNERSHIP
# =============================================================================

# Default ownership for all files
* @isectech/core-team

# =============================================================================
# SECURITY AND COMPLIANCE
# =============================================================================

# Security-related directories and files require security team review
/security/ @isectech/security-team @isectech/lead-security-engineer
/__tests__/security/ @isectech/security-team @isectech/lead-security-engineer
/threat-intelligence/ @isectech/security-team @isectech/threat-intel-team
/vulnerability-management/ @isectech/security-team @isectech/vuln-management-team

# CI/CD and workflow configurations require DevOps and Security review
/.github/workflows/ @isectech/devops-team @isectech/security-team
/.github/actions/ @isectech/devops-team
/.github/branch-protection-rules.md @isectech/security-team @isectech/devops-team

# Configuration files with security implications
.env* @isectech/devops-team @isectech/security-team
.secrets* @isectech/security-team
/config/ @isectech/devops-team @isectech/security-team

# =============================================================================
# INFRASTRUCTURE AND DEPLOYMENT
# =============================================================================

# Infrastructure as Code
/infrastructure/ @isectech/devops-team @isectech/platform-team
/terraform/ @isectech/devops-team @isectech/platform-team
/k8s/ @isectech/devops-team @isectech/platform-team
/helm/ @isectech/devops-team
/ansible/ @isectech/devops-team

# Container configurations
Dockerfile* @isectech/devops-team @isectech/security-team
docker-compose*.yml @isectech/devops-team
.dockerignore @isectech/devops-team

# Deployment and pipeline configurations
/scripts/ @isectech/devops-team
/deploy/ @isectech/devops-team
/.taskmaster/ @isectech/devops-team @isectech/core-team

# =============================================================================
# BACKEND SERVICES
# =============================================================================

# Go backend services
/backend/ @isectech/backend-team @isectech/go-team
/api/ @isectech/backend-team @isectech/api-team
/cmd/ @isectech/backend-team
/internal/ @isectech/backend-team
/pkg/ @isectech/backend-team

# Go configuration files
go.mod @isectech/backend-team @isectech/go-team
go.sum @isectech/backend-team @isectech/go-team
*.go @isectech/backend-team

# Event processing services
/event-processing/ @isectech/backend-team @isectech/event-processing-team

# =============================================================================
# FRONTEND APPLICATION
# =============================================================================

# Next.js frontend application
/app/ @isectech/frontend-team @isectech/ui-ux-team
/components/ @isectech/frontend-team
/pages/ @isectech/frontend-team
/public/ @isectech/frontend-team
/styles/ @isectech/frontend-team @isectech/ui-ux-team

# Frontend configuration files
package.json @isectech/frontend-team @isectech/core-team
package-lock.json @isectech/frontend-team
next.config.js @isectech/frontend-team @isectech/devops-team
tsconfig.json @isectech/frontend-team

# Frontend testing
/__tests__/**/*.tsx @isectech/frontend-team @isectech/qa-team
/__tests__/**/*.ts @isectech/frontend-team @isectech/qa-team
/playwright.config.ts @isectech/frontend-team @isectech/qa-team

# Storybook and component documentation
/.storybook/ @isectech/frontend-team @isectech/ui-ux-team
/stories/ @isectech/frontend-team @isectech/ui-ux-team

# =============================================================================
# AI AND MACHINE LEARNING SERVICES
# =============================================================================

# AI services and machine learning
/ai-services/ @isectech/ai-team @isectech/ml-team
/models/ @isectech/ai-team @isectech/data-science-team
/notebooks/ @isectech/ai-team @isectech/data-science-team

# Python configuration files
requirements.txt @isectech/ai-team
requirements-*.txt @isectech/ai-team
Pipfile @isectech/ai-team
Pipfile.lock @isectech/ai-team
pyproject.toml @isectech/ai-team
setup.py @isectech/ai-team

# Python source files
*.py @isectech/ai-team

# =============================================================================
# TESTING AND QUALITY ASSURANCE
# =============================================================================

# Test configurations and frameworks
jest.config.js @isectech/qa-team @isectech/frontend-team
jest.setup.js @isectech/qa-team @isectech/frontend-team
playwright.config.ts @isectech/qa-team @isectech/frontend-team
pytest.ini @isectech/qa-team @isectech/ai-team

# Test directories
/__tests__/ @isectech/qa-team
/test/ @isectech/qa-team
/tests/ @isectech/qa-team

# Performance testing
/__tests__/performance/ @isectech/qa-team @isectech/performance-team
/load-tests/ @isectech/qa-team @isectech/performance-team

# Cross-browser testing
/__tests__/cross-browser/ @isectech/qa-team @isectech/frontend-team
/test-setup/ @isectech/qa-team

# =============================================================================
# DOCUMENTATION
# =============================================================================

# Core documentation files
README.md @isectech/core-team @isectech/tech-writers
CLAUDE.md @isectech/core-team @isectech/ai-team
CLAUDE.local.md @isectech/core-team

# Documentation directories
/docs/ @isectech/tech-writers @isectech/core-team
/documentation/ @isectech/tech-writers

# API documentation
/api-docs/ @isectech/backend-team @isectech/tech-writers
/openapi/ @isectech/backend-team @isectech/api-team

# =============================================================================
# DATA AND DATABASES
# =============================================================================

# Database migrations and schemas
/migrations/ @isectech/backend-team @isectech/dba-team
/sql/ @isectech/backend-team @isectech/dba-team
/schemas/ @isectech/backend-team @isectech/dba-team

# Data processing and ETL
/data/ @isectech/data-team @isectech/backend-team
/etl/ @isectech/data-team

# =============================================================================
# MONITORING AND OBSERVABILITY
# =============================================================================

# Monitoring configurations
/monitoring/ @isectech/devops-team @isectech/sre-team
/grafana/ @isectech/devops-team @isectech/sre-team
/prometheus/ @isectech/devops-team @isectech/sre-team
/alerting/ @isectech/devops-team @isectech/sre-team

# Logging configurations
/logging/ @isectech/devops-team @isectech/backend-team

# =============================================================================
# MOBILE APPLICATIONS
# =============================================================================

# Mobile app directories (if applicable)
/mobile/ @isectech/mobile-team
/ios/ @isectech/mobile-team @isectech/ios-team
/android/ @isectech/mobile-team @isectech/android-team

# =============================================================================
# SPECIAL FILES AND CONFIGURATIONS
# =============================================================================

# License and legal files
LICENSE @isectech/legal-team @isectech/core-team
SECURITY.md @isectech/security-team @isectech/legal-team
PRIVACY.md @isectech/legal-team @isectech/privacy-team

# Editor and IDE configurations
.vscode/ @isectech/core-team
.idea/ @isectech/core-team
.editorconfig @isectech/core-team

# Linting and formatting configurations
.eslintrc* @isectech/frontend-team @isectech/core-team
.prettierrc* @isectech/frontend-team @isectech/core-team
.golangci.yml @isectech/backend-team @isectech/go-team
pyproject.toml @isectech/ai-team
.flake8 @isectech/ai-team
.pylintrc @isectech/ai-team

# Git configurations
.gitignore @isectech/core-team
.gitattributes @isectech/core-team

# Dependency lock files (require careful review)
package-lock.json @isectech/frontend-team @isectech/security-team
go.sum @isectech/backend-team @isectech/security-team
Pipfile.lock @isectech/ai-team @isectech/security-team

# =============================================================================
# TEAM DEFINITIONS
# These teams should be configured in GitHub organization settings
# =============================================================================

# @isectech/core-team - Core maintainers and tech leads
# @isectech/security-team - Security engineers and analysts
# @isectech/devops-team - DevOps and platform engineers
# @isectech/backend-team - Backend developers
# @isectech/frontend-team - Frontend developers
# @isectech/ai-team - AI/ML engineers
# @isectech/qa-team - Quality assurance engineers
# @isectech/mobile-team - Mobile developers
# @isectech/data-team - Data engineers and scientists
# @isectech/sre-team - Site reliability engineers
# @isectech/tech-writers - Technical documentation team
# @isectech/legal-team - Legal and compliance team

# Specialized sub-teams:
# @isectech/lead-security-engineer - Lead security engineer
# @isectech/threat-intel-team - Threat intelligence specialists
# @isectech/vuln-management-team - Vulnerability management specialists
# @isectech/platform-team - Platform architecture team
# @isectech/go-team - Go language specialists
# @isectech/api-team - API design specialists
# @isectech/ui-ux-team - UI/UX designers
# @isectech/ml-team - Machine learning specialists
# @isectech/data-science-team - Data science team
# @isectech/performance-team - Performance engineering specialists
# @isectech/dba-team - Database administrators
# @isectech/ios-team - iOS development team
# @isectech/android-team - Android development team
# @isectech/privacy-team - Privacy and compliance specialists
